.menu-bar {
    -fx-background-color: 
    	#aeb5ba,
    	linear-gradient(to bottom, #ecf4fa 0%, #ced4d9 100%);
    -fx-background-insets: 0, 0 0 1 0;
}

.menu-bar .menu .label {
    -fx-text-fill: #2d3e4c;
}

.game-background {
	-fx-background-image: url("skins/Metallic/background.jpg");
	-fx-background-repeat: no-repeat;
	-fx-background-size: 100%;
}

.reversi-square {
	-fx-background-image: url("skins/Metallic/spielbrett.jpg");
	-fx-background-repeat: no-repeat;
	-fx-background-size: 100%;
}

.reversi-square-legal {
	-fx-background-image: url("skins/Metallic/legal.jpg");
	-fx-background-repeat: no-repeat;
	-fx-background-size: 100%;
}

.reversi-piece {
	-fx-background-radius: 1000em;
	-fx-background-insets: 5;
}

.black-piece {
	-fx-background-image: url("skins/Metallic/Metallic_SpielStein_Schwarz_Vektor.png");
	-fx-background-size: 100%;
	-fx-background-position: center center; 
	-fx-background-repeat: no-repeat;
}

.white-piece {
	-fx-background-image: url("skins/Metallic/Metallic_SpielStein_Weis_Vektor.png");
	-fx-background-size: 100%;
	-fx-background-position: center center; 
	-fx-background-repeat: no-repeat;
}
