.menu-bar {
    -fx-background-color: 
    	#aeb5ba,
    	linear-gradient(to bottom, #ecf4fa 0%, #ced4d9 100%);
    -fx-background-insets: 0, 0 0 1 0;
}

.menu-bar .menu .label {
    -fx-text-fill: #2d3e4c;
}

.reversi-piece {
	-fx-background-radius: 1000em;
	-fx-background-insets: 5;
}

.black-piece {
	-fx-background-image: url("skins/Lego/Reversi_Lego_Stein_blau.png");
	-fx-background-size: 100%;
	-fx-background-position: center center; 
	-fx-background-repeat: no-repeat;
}

.white-piece {
	-fx-background-image: url("skins/Lego/Reversi_Lego_Stein_rot.png");
	-fx-background-size: 100%;
	-fx-background-position: center center; 
	-fx-background-repeat: no-repeat;
}